<div class="row mt-4 ">
  <div class="text-center">
    <form [formGroup]="animeForm" class="mb-4" (ngSubmit)="searchAnime()">
        <input type="text" class="form-control"  formControlName="name" placeholder="Search...">
        <button class="btn btn-outline-primary mt-3" [disabled]="animeForm.invalid" type="submit">Button</button>
    </form>
  </div>
  
  <div class="card m-2" style="width: 18rem;" *ngFor="let anime of animeList">
    <img src="{{ anime.image_url }}" width="500" height="300" class="card-img-top" alt="{{ anime.title }}">
    <div class="card-body">
      <div class="text-end">
        <span [ngClass]="{'bg-success': anime.score >= 8, 'bg-warning': anime.score >= 5 && anime.score < 8,  'bg-danger': anime.score < 5}" class="badge text-end" >{{ anime.score }}</span>
      </div>
      <h5 class="card-title text-center">{{ anime.title }} </h5>
      <p class="card-text">{{ anime.synopsis }}</p>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item text-center">
        <button 
          class="btn btn-outline-dark" 
          data-bs-toggle="modal" 
          data-bs-target="#modal"
          (click)="seeEpisodes( anime.mal_id )" 
        >
          Episodios: {{ anime.episodes }}
        </button>
        
      </li>
      <li class="list-group-item text-center">
        Rating: {{ anime.rated }}
      </li>
      <li class="list-group-item text-center">
        <a class="btn btn-secondary" target="_blank" href="{{ anime.url}}">See more</a>
      </li>
    </ul>

    <div class="card-footer text-center">
      <small class="text-muted">{{ anime.start_date | date:"longDate" }}</small>
    </div>
  </div>

</div>

<!-- MODAL -->

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalAnime" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Episode</th>
              <th>Title</th>
              <th>Publication date</th>
              <th>Video</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let episode of episodesList">
              <td scope="row">{{ episode.episode_id }}</td>
              <td>{{ episode.title }}</td>
              <td>{{ episode.aired | date:"longDate" }}</td>
              <td><a type="button" target="_blank" href="{{ episode.video_url }}" class="btn btn-link">See episode</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>